@use 'variables';

html {
    min-height: 100vh;
    background: $light-grey;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

.l-container-1080 {
    max-width: 1080px;
    margin: 0 auto;
}

.l-container-full-screen {
    width: 100%;
}
