@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

//fonts
$main-font: "Roboto", sans-serif;
$secondary-font: "Oswald", sans-serif;

//font colors
$font-color-dark: #333;
$font-color-semi-dark: rgb(75, 75, 75);
$font-color-grey: #777;
$font-color-semi-light: rgb(160, 160, 160);
$font-color-light-grey: rgb(201, 201, 201);

//colors
$green: #b0e0a8;
$yellow: #f0f69f;
$red: #f3c1c6;
$blue: #d8eff0;
$grey: gray;
$light-grey: #f4f4f4;
$faded-grey: rgb(201, 201, 201);
$highlight-green: rgb(205, 245, 205);
$highlight-grey: rgb(216, 216, 216);

//buttons
$border: 2px;

//box shadows
$shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
