<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>ToDo List</title>
        <link rel="stylesheet" href="./css/bundle.css" />
        <script
            src="https://kit.fontawesome.com/c0d1af353e.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <h1 class="headline headline--large main-title">My First List</h1>
        <div class="l-container-full-screen">
            <div class="l-container-1080 main-content">
                <div class="lists-section">
                    <h3 class="lists-headline">Lists</h3>
                    <div class="lists-container">
                        <div class="lists-title">
                            <i class="fas fa-bars"></i>Lists
                        </div>
                        <ul class="lists"></ul>
                    </div>
                    <div class="btn btn-new-list">New List</div>
                </div>
                <div class="items-section">
                    <div class="instructions">
                        <span class="btn-sort">Sort by priority</span> or drag
                        items to reorganize
                    </div>
                    <div class="instructions-mobile">
                        <span class="btn-sort-mobile">Sort</span> or drag items
                    </div>
                    <div class="items"></div>
                    <div class="new-item-menu">
                        <div class="btn btn-add-item">Add Item</div>
                        <div class="btn btn-clear-list hide">Clear List</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay">
            <div class="overlay-inner-item">
                <div class="headline headline--medium overlay-item-title">
                    New Item
                </div>
                <div class="btn-overlay-close">X Close</div>
                <form class="contents">
                    <input
                        class="input-item-title"
                        type="text"
                        placeholder="Title"
                    />
                    <textarea
                        class="input-item-desc"
                        rows="4"
                        placeholder="Description"
                    ></textarea>
                    <div class="priority-container">
                        <label>Priority:</label>
                        <div class="three-way-btn switch-low">
                            <div class="btn-low">Low</div>
                            <div class="btn-medium">Medium</div>
                            <div class="btn-high">High</div>
                        </div>
                    </div>
                    <div class="btn btn-create-item">Create Item</div>
                </form>
            </div>
            <div class="overlay-inner-list">
                <div class="headline headline--medium overlay-list-title">
                    New List
                </div>
                <div class="btn-overlay-close">X Close</div>
                <form class="contents">
                    <input
                        class="input-list-label"
                        type="text"
                        placeholder="Title"
                    />
                    <div class="btn btn-create-list">Create List</div>
                </form>
            </div>
        </div>

        <script src="./bundle.js"></script>
    </body>
</html>
