.item-container {
    max-height: 500px;
    transition: all 0.3s;
    overflow: hidden;
    width: 100%;

    &.hide {
        max-height: 0px;
    }

    .item {
        position: relative;
        display: flex;
        margin-right: 5px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: white;
        box-shadow: $shadow;
        min-height: 75px;

        .options {
            position: absolute;
            display: flex;
            top: 0;
            right: 0;
            opacity: 0;
            transition: all 0.3s;

            i {
                margin-right: 7px;
                opacity: 0.5;
                transition: all 0.3s;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        .item__checkBox {
            position: relative;
            margin: 20px 50px;
            font-size: 4.4em;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            &.active:before,
            &.active:hover:before {
                position: absolute;
                content: "\2713";

                top: 30%;
                left: 50%;
                transform: translate(-40%, -50%);
                opacity: 1;
                z-index: 1;
            }

            &:before {
                position: absolute;
                content: "\2713";

                top: 30%;
                left: 50%;
                transform: translate(-40%, -50%);
                opacity: 0;
                z-index: 1;
                transition: all 0.3s;
            }

            &:hover:before {
                position: absolute;
                content: "\2713";

                top: 30%;
                left: 50%;
                transform: translate(-40%, -50%);
                opacity: 0.5;
                z-index: 1;
            }

            &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid rgb(133, 133, 133);
            }

            &.priority-low:after {
                background-color: $green;
            }

            &.priority-medium:after {
                background-color: $yellow;
            }

            &.priority-high:after {
                background-color: $red;
            }
        }

        .contents {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }

    &:hover {
        .options {
            opacity: 1;
        }
    }
}
