@use 'variables';

.main-content {
    display: flex;
    justify-content: space-between;

    .lists-section {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .items-section {
        position: relative;
        width: 75%;

        .items {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .instructions {
            position: absolute;
            top: -40px;
            right: 5px;
            margin-left: 20px;
        }

        .new-item-menu {
            display: flex;
        }
    }
}

.item-container {
    max-height: 300px;
    transition: all 0.3s;
    overflow: hidden;
    width: 100%;

    &.hide {
        max-height: 0px;
    }

    .item {
        position: relative;
        display: flex;
        margin-right: 5px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: white;
        box-shadow: $shadow;

        .options {
            position: absolute;
            display: flex;
            top: 0;
            right: 0;
            opacity: 0;
            transition: all 0.3s;

            i {
                margin-right: 7px;
                opacity: 0.5;
                transition: all 0.3s;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        .item__checkBox {
            position: relative;
            margin: 20px 50px;
            font-size: 4.4em;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            &.active:before,
            &.active:hover:before {
                position: absolute;
                content: "\2713";

                top: 30%;
                left: 50%;
                transform: translate(-40%, -50%);
                opacity: 1;
                z-index: 1;
            }

            &:before {
                position: absolute;
                content: "\2713";

                top: 30%;
                left: 50%;
                transform: translate(-40%, -50%);
                opacity: 0;
                z-index: 1;
                transition: all 0.3s;
            }

            &:hover:before {
                position: absolute;
                content: "\2713";

                top: 30%;
                left: 50%;
                transform: translate(-40%, -50%);
                opacity: 0.5;
                z-index: 1;
            }

            &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid rgb(133, 133, 133);
            }

            &.priority-low:after {
                background-color: $green;
            }

            &.priority-medium:after {
                background-color: $yellow;
            }

            &.priority-high:after {
                background-color: $red;
            }
        }

        .contents {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }

    &:hover {
        .options {
            opacity: 1;
        }
    }
}

.lists {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
        opacity: 1;
    }

    .list {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        width: 100%;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .list-label {
            white-space: nowrap;
        }

        .options {
            display: flex;
            opacity: 0;
            transition: all 0.3s;

            i {
                margin-left: 7px;
                opacity: 0.5;
                transition: all 0.3s;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        &:hover {
            .options {
                opacity: 1;
            }
        }
    }
}

.completed-items-list {
    .btn-delete-list {
        display: none !important;
    }
}

.lists-title {
    text-align: left;
    font-size: 2rem;
    display: none;

    i {
        margin-right: 10px;
    }
}

.create-list-in-menu {
    display: none;
    color: $green;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
