@use 'variables';

.main-content {
    display: flex;
    justify-content: space-between;

    .lists-section {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .items-section {
        position: relative;
        width: 75%;

        .items {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .instructions {
            position: absolute;
            top: -40px;
            right: 5px;
            margin-left: 20px;
        }
        .instructions-mobile {
            display: none;
            position: absolute;
            top: -40px;
            right: 5px;
            margin-left: 20px;
        }

        .new-item-menu {
            display: flex;
        }
    }
}

.lists {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
        opacity: 1;
    }

    .list {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        width: 100%;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .list-label {
            white-space: nowrap;
        }

        .options {
            display: flex;
            opacity: 0;
            transition: all 0.3s;

            i {
                margin-left: 7px;
                opacity: 0.5;
                transition: all 0.3s;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        &:hover {
            .options {
                opacity: 1;
            }
        }
    }
}

.completed-items-list {
    .btn-delete-list {
        display: none !important;
    }
}

.lists-title {
    text-align: left;
    font-size: 2rem;
    display: none;

    i {
        margin-right: 10px;
    }
}

.create-list-in-menu {
    display: none;
    color: $green;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
